<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='form-box'>
<h1 id="initial-idea">Initial Idea</h1>
<p>The goal is to provide a platform where all sorts of people can share, learn and act.</p>
<h1 id="implementation">Implementation</h1>
<h2 id="current-features">Current Features</h2>
<p>We have the following:</p>
<ul>
<li>Search</li>
<li>Networks</li>
<li>Lists</li>
<li>Q&amp;A Forum</li>
</ul>
<h2 id="future-features">Future Features</h2>
<p>In the near future we intend to add the following:</p>
<ul>
<li>Following (subscriptions)</li>
</ul>
        </div>
      </div>
    </div>
  </div>
</div>
