<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
	  <div class="col-12 col-sm-12 col-lg-12">
        <div class='form-box'>
          <h1>
		  Extension Apps and Works


		  Extension Apps


		  https://github.com/gtourtellot/BooksInGC

		  https://github.com/gtourtellot/GCLister

		  https://github.com/gtourtellot/greencommons-chatbot-fulfillment-webhook


		  (DW: BTW, this app doesn’t use our api at all. I could have it retrieve the first three GC resources for each NYT article if anyone complains.)
		  http://www.hyperorg.com/programs/greencommons/TimesMasher/TimesMasher.html


		  some keywords are very general, e.g., "foundation", "federal government", "north", so "augmented" info isn't at all relevant to the query.
		  http://hyperorg.com/programs/greencommons/dpla/gc-dpla.html


		  (still links to domain "greencommons.herokuapp.com")
		  (the name "BoogyWoogy" is brutal)
		  http://hyperorg.com/programs/greencommons/boogywoogybrowser/boogywoogy.html
		  https://github.com/dweinberger/gcBoogyWoogy

		  Works

		  http://indc.me/gc_openstates_mashup.html

		  ??course??
        </div>
      </div>
    </div>
  </div>
</div>
= render 'shared/demo_footer'
