<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
	  <div class="col-12 col-sm-12 col-lg-12">
        <div class='form-box'>
          <h1>Browser Extensions</h1>
			<p>goto: <a href="chrome://extensions/">chrome://extensions/</a>
			<p>goto: <a>chrome://extensions/</a>

			  <a>https://github.com/gtourtellot/BooksInGC</a>
			  <br>
			  <a>https://github.com/gtourtellot/GCLister</a>

          <h1>Web Apps</h1>

			  <p>(DW: BTW, this app doesn’t use our api at all. I could have it retrieve the first three GC resources for each NYT article if anyone complains.)
				  <a>http://www.hyperorg.com/programs/greencommons/TimesMasher/TimesMasher.html</a>
			  </p>
			  <iframe width="800" height="430" src="http://localhost/gcBoogyWoogy-master/boogywoogy.html"></iframe>
			  <br>

			  	  <iframe width="800" height="430" src="http://indc.me/gc_openstates_mashup.html"></iframe>
			  </p>

          <h1>Chatbots</h1>
			  <br>
			  <iframe width="800" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/190ed4ed-7d37-4369-b372-3ab3463a22cc"></iframe>
			  <br>
			  <a>https://github.com/gtourtellot/greencommons-chatbot-fulfillment-webhook</a>

			  <p>some keywords are very general, e.g., "foundation", "federal government", "north", so "augmented" info isn't at all relevant to the query.
				  <a>http://hyperorg.com/programs/greencommons/dpla/gc-dpla.html</a>
			  </p>

			  <p>(still links to domain "greencommons.herokuapp.com")(the name "BoogyWoogy" is brutal)
				  <a>http://hyperorg.com/programs/greencommons/boogywoogybrowser/boogywoogy.html</a>
				  <a>https://github.com/dweinberger/gcBoogyWoogy</a>
			  </p>

		  <h1>Courses</h1>
			  <p>??course??</p>
        </div>
      </div>
    </div>
  </div>
</div>
= render 'shared/demo_footer'
