<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
	  <div class="col-12 col-sm-12 col-lg-12">
        <div class='form-box'>
		  Platform Comparisons
          <table style="table-layout: fixed; width: 100%;">
            <tr>
              <td>
              <div style="width: 100%; overflow-x: auto;">
		  <table class="table table-bordered table-hover table-sm table-responsive">
		    <thead>
		      <tr>
		        <th scope="col">#</th>
		        <th scope="col">First Name</th>
		        <th scope="col">Last Name</th>
		        <th scope="col">Username</th>
		        <th scope="col">Some Col</th>
		        <th scope="col">Some Other Col</th>
		        <th scope="col">Informative Col</th>
		        <th scope="col">Important Col</th>
		        <th scope="col">Essential Col1</th>
		        <th scope="col">Essential Col2</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <th scope="row">1</th>
		        <td>Mark</td>
		        <td>Otto</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		      </tr>
		      <tr>
		        <th scope="row">2</th>
		        <td>Jacob</td>
			    <td>Thornton</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			  </tr>
  		      <tr>
			    <th scope="row">3</th>
			    <td>Larry the Bird</td>
			    <td>@twitter</td>
			    <td>@twitter</td>
			    <td>@twitter</td>
			    <td>@twitter</td>
			    <td class="bg-success">@twitter</td>
			    <td class="bg-warning">@twitter</td>
			    <td class="bg-danger">@twitter</td>
			    <td class="bg-info">@twitter</td>
			  </tr>
		    </tbody>
	  	  </table>

	  	  </div>
	  	  </td>
	  	  </tr>
	  	  </table>

        </div>
      </div>
    </div>
  </div>
</div>
