<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
	  <div class="col-12 col-sm-12 col-lg-12">
	    h1
		  | Platform Comparisons	    	
        <div>
          <table style="table-layout: fixed; width: 100%;">
            <tr>
              <td>
              <div style="width: 100%; overflow-x: auto;">
		  <table class="table table-bordered table-hover table-responsive">
		    <thead>
		      <tr>
		        <th scope="col"></th>
		        <th scope="col">URL</th>
		        <th scope="col"><div style="width: 500px">Description</div></th>
		        <th scope="col">Host</th>
		        <th scope="col">Start Date</th>
		        <th scope="col">Subject Matter Scope</th>
		        <th scope="col">Resource Formats</th>
		        <th scope="col">Resource Licenses</th>
		        <th scope="col">Has Own Publication</th>
		        <th scope="col">Adoption</th>
		        <th scope="col">User Contribution</th>
		        <th scope="col">Partner Resource Sharing</th>
		        <th scope="col">Resource Volume</th>
		        <th scope="col">Resource Types</th>
		        <th scope="col">Resource Primary Access Cost</th>
		        <th scope="col">Social Features</th>
		        <th scope="col">Networks</th>
		        <th scope="col">Multimedia Features</th>
		        <th scope="col">Semantic Technology</th>
		        <th scope="col">Language Support</th>
		        <th scope="col">API</th>
		        <th scope="col">Open Source</th>
		        <th scope="col">Extensions</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <th scope="row">Green Commons</th>
		        <td title="URL"><a href="https://greencommons.net" target="_blank">https://greencommons.net</a></td>
			    <td title="Description">The Green Commons is a knowledge-sharing, learning platform for environmental research and action.It provides a place for people working on environmental issues to find and share resources, information, and ideas; to build networks; and to work collaboratively . We aim to provide users the information and tools that will help them create amore sustainable world.</td>
		        <td title="Host"><a href="https://islandpress.org/" target="_blank">Island Press</a></td>
			    <td title="Start Date">TBD</td>
			    <td title="Subject Matter Scope">broad focus</td>
			    <td title="Resource Formats">PDFs and links (audio, video, images, etc.)</td>
			    <td title="Resource Licenses">a mix of open and restrictive</td>
			    <td title="Has Own Publication">no</td>
			    <td title="Adoption">NA; prototype</td>
			    <td title="User Contribution" class="bg-success">yes</td>
			    <td title="Partner Resource Sharing" class="bg-success">yes</td>
			    <td title="Resource Volume" class="bg-success">large</td>
			    <td title="Resource Types" class="bg-success">diverse</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Social Features" class="bg-success">yes; forums, annotation, discussion, networks (more to come)</td>
			    <td title="Networks" class="bg-success">yes</td>
			    <td title="Multimedia Features" class="bg-danger">not yet</td>
			    <td title="Semantic Technology" class="">yes, ???? via Climate Tagger and ????</td>
			    <td title="Language Support" class="bg-success">yes; initially, only indexing</td>
			    <td title="API" class="bg-success">yes</td>
			    <td title="Open Source" class="bg-success">yes</td>
			    <td title="Extensions" class="bg-success">yes; web apps, chatbots, browser extentions (more to come)</td>
			  </tr>
		      <tr>
		        <th scope="row">Climate Tagger (Pool)</th>
		        <td title="URL"><a href="http://www.climatetagger.net" target="_blank">http://www.climatetagger.net</a></td>
			    <td title="Description">Climate Tagger is a suite of tools to help knowledge-driven organizations in the climate and development arenas streamline and catalogue their data and information resources, and connect them to the wider climate knowledge community. The tagger can be run on a string or on a file with accepted format.  The content is only added to the Climate Tagger Pool if a specific API call is made.  Thus, although many platforms and services use Climate Tagger, including Climate Search, Climate Tagger Pool doesn't contain all the content submitted for tagging.</td>
		        <td title="Host"><a href="https://www.reeep.org/" target="_blank">REEEP</a></td>
			    <td title="Start Date">2011</td>
			    <td title="Subject Matter Scope">currently focussed on development and energy</td>
			    <td title="Resource Formats">Microsoft Word, Powerpoint, PDF and plain text files</td>
			    <td title="Resource Licenses">no requirement for tagging; unknown for content upload</td>
			    <td title="Has Own Publication">no</td>
			    <td title="Adoption">unknown</td>
			    <td title="User Contribution" class="bg-success">yes</td>
			    <td title="Partner Resource Sharing" class="bg-success">yes, all content is aggregated</td>
			    <td title="Resource Volume" class="bg-danger">small</td>
			    <td title="Resource Types" class="bg-success">diverse</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Social Features" class="bg-danger">none</td>
			    <td title="Networks" class="bg-danger">none</td>
			    <td title="Multimedia Features" class="bg-danger">none</td>
			    <td title="Semantic Technology" class="bg-success">yes, tagging, linked data, similarity and recommendation</td>
			    <td title="Language Support" class="bg-success">yes, 5 languages</td>
			    <td title="API" class="bg-success">yes</td>
			    <td title="Open Source" class="bg-danger">no</td>
			    <td title="Extensions" class="bg-success">yes, Drupal module and CKAN extension</td>
			  </tr>
		      <tr>
		        <th scope="row">Climate Search</th>
		        <td title="URL"><a href="http://www.climateknowledgebrokers.net/ckb-tools/climate-search/" target="_blank">http://www.climateknowledgebrokers.net/ckb-tools/climate-search/</a></td>
			    <td title="Description">The Climate Search was specifically developed to allow a faster way to find the climate-relevant data you are looking for. It catalyzes all portals of the curated Knowledge Navigator database and the Climate Knowledge Brokers Group into one search engine. To make the search for climate relevant information even more convenient, the Climate Search uses Climate Tagger’s Climate Thesaurus to provide auto-complete suggestions, as well as related topics and options to narrow down searches. And it works in the five different languages of the Thesaurus: English, Spanish, French, German and Portuguese.</td>
		        <td title="Host">The Climate Knowledge Brokers (CKB) Group</td>
			    <td title="Start Date">2011</td>
			    <td title="Subject Matter Scope">broad focus</td>
			    <td title="Resource Formats">diverse</td>
			    <td title="Resource Licenses">no requirement for tagging; unknown for content upload</td>
			    <td title="Has Own Publication">no</td>
			    <td title="Adoption">unknown</td>
			    <td title="User Contribution" class="bg-warning">indirectly (can add to any of the child platforms that support contributions)</td>
			    <td title="Partner Resource Sharing" class="bg-success">yes, all content is aggregated</td>
			    <td title="Resource Volume" class="bg-warning">medium; max of 100 items returned for any search</td>
			    <td title="Resource Types" class="bg-success">diverse</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Social Features" class="bg-danger">none</td>
			    <td title="Networks" class="bg-danger">none</td>
			    <td title="Multimedia Features" class="bg-danger">none</td>
			    <td title="Semantic Technology" class="bg-success">search term auto-completion using Climate Tagger’s Climate Thesaurus</td>
			    <td title="Language Support" class="bg-success">yes, 5 languages</td>
			    <td title="API" class="bg-danger">no</td>
			    <td title="Open Source" class="bg-danger">no</td>
			    <td title="Extensions" class="bg-success">yes, Wordpress plugin</td>
			  </tr>
		      <tr>
		        <th scope="row">WeADAPT</th>
		        <td title="URL"><a href="https://www.weadapt.org/" target="_blank">https://www.weadapt.org/</a></td>
			    <td title="Description">weADAPT is an online ‘open space’ on climate adaptation issues (including the synergies between adaptation and mitigation) which allows practitioners, researchers and policy makers to access credible, high quality information and to share experiences and lessons learnt with the weADAPT community. It is designed to facilitate learning, exchange, collaboration and knowledge integration to build a professional community of research and practice on adaptation issues while developing policy-relevant tools and guidance for adaptation planning and decision-making.</td>
		        <td title="Host">The Oxford Center of the Stockholm Environmental Institute (SEI)</td>
			    <td title="Start Date">2007</td>
			    <td title="Subject Matter Scope">fairly broad around adaptation and mitigation</td>
			    <td title="Resource Formats">diverse (articles, videos, images, etc.)</td>
			    <td title="Resource Licenses">Creative Commons</td>
			    <td title="Has Own Publication">no</td>
			    <td title="Adoption"> > 4k users</td>
			    <td title="User Contribution" class="bg-success">yes</td>
			    <td title="Partner Resource Sharing" class="bg-success">yes, a symmetrical sharing alliance with CIFOR, and cross linking with CIP and AfricaAdapt</td>
			    <td title="Resource Volume" class="bg-danger">small (~1000 curated articles and case studies)</td>
			    <td title="Resource Types" class="bg-success">diverse</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Social Features" class="bg-success">yes; discussion forums, people and organization directory search, themes, networks</td>
			    <td title="Networks" class="bg-success">yes, although few and led by specific organizations or programmes</td>
			    <td title="Multimedia Features" class="bg-success">yes; adaptation layer map, partner microsites</td>
			    <td title="Semantic Technology" class="bg-success">Open Calais, Climate Tagger</td>
			    <td title="Language Support" class="bg-danger">no</td>
			    <td title="API" class="bg-danger">no</td>
			    <td title="Open Source" class="bg-danger">no</td>
			    <td title="Extensions" class="bg-danger">none</td>
			  </tr>
		      <tr>
		        <th scope="row">FutureEarth</th>
		        <td title="URL"><a href="http://futureearth.org/" target="_blank">http://futureearth.org/</a></td>
			    <td title="Description">Launched in 2015, Future Earth is a 10-year initiative to advance Global Sustainability Science, build capacity in this rapidly expanding area of research and provide an international research agenda to guide natural and social scientists working around the world. But it is also a platform for international engagement to ensure that knowledge is generated in partnership with society and users of science. We are an open network for scientists of all disciplines, natural and social, as well as engineering, the humanities and law. We endorse world-class projects, networks and institutes who can contribute to our research agenda and are committed to transformation.</td>
		        <td title="Host">The Governing Council of Future Earth is composed of the Sustainable Development Solutions Network (SDSN), the STS forum and members of the Science and Technology Alliance for Global Sustainability.</td>
			    <td title="Start Date">2015</td>
			    <td title="Subject Matter Scope">broad</td>
			    <td title="Resource Formats">primary content includes blog-like articles, linked PDFs, embedded slides and videos; user content includes PDFs (access seems broken)</td>
			    <td title="Resource Licenses">unknown</td>
			    <td title="Has Own Publication">yes, Anthropocene Magazine (digital and print)</td>
			    <td title="Adoption">4.8k Open Network members</td>
			    <td title="User Contribution" class="bg-success">yes, to Open Networks</td>
			    <td title="Partner Resource Sharing" class="bg-">unknown</td>
			    <td title="Resource Volume" class="bg-danger">tiny number</td>
			    <td title="Resource Types" class="bg-">????? knowledge action network topics are broad ????</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Social Features" class="bg-success">yes, directory search, forums, resource discussions, events, jobs board</td>
			    <td title="Networks" class="bg-success">yes, Future Earth Open Networks</td>
			    <td title="Multimedia Features" class="bg-success">yes, from its own Media Lab; also, Open Network members map</td>
			    <td title="Semantic Technology" class="bg-">unknown</td>
			    <td title="Language Support" class="bg-success">google translate link is on homepage</td>
			    <td title="API" class="bg-danger">no; does have RSS feeds for magazine and other publications</td>
			    <td title="Open Source" class="bg-danger">no</td>
			    <td title="Extensions" class="bg-danger">no</td>
			  </tr>
		    </tbody>
	  	  </table>

	  	  </div>
	  	  </td>
	  	  </tr>
	  	  </table>

        </div>
      </div>
    </div>
  </div>
</div>
= render 'shared/demo_footer'
