<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
	  <div class="col-12 col-sm-12 col-lg-12">
        <div class='form-box'>
		  Platform Comparisons
          <table style="table-layout: fixed; width: 100%;">
            <tr>
              <td>
              <div style="width: 100%; overflow-x: auto;">
		  <table class="table table-bordered table-hover table-sm table-responsive">
		    <thead>
		      <tr>
		        <th scope="col"></th>
		        <th scope="col">Green Commons</th>
		        <th scope="col">Climate Search</th>
		        <th scope="col">Climate Tagger (Pool)</th>
		        <th scope="col">weADAPT</th>
		        <th scope="col">FutureEarth</th>
		        <th scope="col">Figshare</th>
		        <th scope="col">Mendeley</th>
		        <th scope="col">Zotero</th>
		        <th scope="col">DataONE</th>
		        <th scope="col">Causes</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <th scope="row">URL</th>
		        <td>Mark</td>
		        <td>Otto</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		        <td>@mdo</td>
		      </tr>
		      <tr>
		        <th scope="row">Description</th>
		        <td>Jacob</td>
			    <td>Thornton</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			    <td>@fat</td>
			  </tr>
  		      <tr>
			    <th scope="row">Host</th>
			    <td>Larry the Bird</td>
			    <td>@twitter</td>
			    <td>@twitter</td>
			    <td>@twitter</td>
			    <td>@twitter</td>
			    <td class="bg-success">@twitter</td>
			    <td class="bg-warning">@twitter</td>
			    <td class="bg-danger">@twitter</td>
			    <td class="bg-info">@twitter</td>
			  </tr>
  		      <tr>
			    <th scope="row">Start Date</th>
			  </tr>
  		      <tr>
			    <th scope="row">Adoption</th>
			  </tr>
  		      <tr>
			    <th scope="row">Subject Matter Scope</th>
			  </tr>
  		      <tr>
			    <th scope="row">User Contribution</th>
			  </tr>
  		      <tr>
			    <th scope="row">User Contribution</th>
			  </tr>
  		      <tr>
			    <th scope="row">User Contribution</th>
			  </tr>
  		      <tr>
			    <th scope="row">Partner Resource Sharing</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Volume</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Types</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Formats</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Types</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Primary Access Cost</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Licenses</th>
			  </tr>
  		      <tr>
			    <th scope="row">Social Features</th>
			  </tr>
  		      <tr>
			    <th scope="row">Networks</th>
			  </tr>
  		      <tr>
			    <th scope="row">Multimedia Features</th>
			  </tr>
  		      <tr>
			    <th scope="row">Has Own Publication</th>
			  </tr>
  		      <tr>
			    <th scope="row">Semantic Technology</th>
			  </tr>
		    </tbody>
	  	  </table>

	  	  </div>
	  	  </td>
	  	  </tr>
	  	  </table>

        </div>
      </div>
    </div>
  </div>
</div>
