<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
	  <div class="col-12 col-sm-12 col-lg-12">
        <div class='form-box'>
		  Platform Comparisons
          <table style="table-layout: fixed; width: 100%;">
            <tr>
              <td>
              <div style="width: 100%; overflow-x: auto;">
		  <table class="table table-bordered table-hover table-responsive">
		    <thead>
		      <tr>
		        <th scope="col"></th>
		        <th scope="col">URL</th>
		        <th scope="col"><div style="width: 500px">Description</div></th>
		        <th scope="col">Host</th>
		        <th scope="col">Start Date</th>
		        <th scope="col">Adoption</th>
		        <th scope="col">Subject Matter Scope</th>
		        <th scope="col">User Contribution</th>
		        <th scope="col">Partner Resource Sharing</th>
		        <th scope="col">Resource Volume</th>
		        <th scope="col">Resource Types</th>
		        <th scope="col">Resource Formats</th>
		        <th scope="col">Resource Primary Access Cost</th>
		        <th scope="col">Resource Licenses</th>
		        <th scope="col">Social Features</th>
		        <th scope="col">Networks</th>
		        <th scope="col">Multimedia Features</th>
		        <th scope="col">Has Own Publication</th>
		        <th scope="col">Semantic Technology</th>
		        <th scope="col">Language Support</th>
		        <th scope="col">API</th>
		        <th scope="col">Open Source</th>
		        <th scope="col">Extensions</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <th scope="row">Green Commons</th>
		        <td title="URL"><a href="https://greencommons.net" target="_blank">https://greencommons.net</a></td>
			    <td title="Description">The Green Commons is a knowledge-sharing, learning platform for environmental research and action.It provides a place for people working on environmental issues to find and share resources, information, and ideas; to build networks; and to work collaboratively . We aim to provide users the information and tools that will help them create amore sustainable world.</td>
		        <td title="Host"><a href="https://islandpress.org/" target="_blank">Island Press</a></td>
			    <td title="Start Date">2016</td>
			    <td title="Adoption">unknown</td>
			    <td title="Subject Matter Scope">broad focus</td>
			    <td title="User Contribution" class="bg-success">yes</td>
			    <td title="Partner Resource Sharing" class="bg-success">yes, all content is aggregated</td>
			    <td title="Resource Volume" class="bg-success">large</td>
			    <td title="Resource Types" class="bg-success">diverse</td>
			    <td title="Resource Formats">???</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Resource Licenses">no requirement for tagging; unknown for content upload</td>
			    <td title="Social Features" class="bg-danger">none</td>
			    <td title="Networks" class="bg-danger">none</td>
			    <td title="Multimedia Features" class="bg-danger">none</td>
			    <td title="Has Own Publication">???</td>
			    <td title="Semantic Technology" class="bg-success">yes, tagging, linked data, similarity and recommendation</td>
			    <td title="Language Support" class="bg-success">yes, 5 languages</td>
			    <td title="API" class="bg-success">yes</td>
			    <td title="Open Source" class="bg-danger">no</td>
			    <td title="Extensions" class="bg-success">yes, Drupal module and CKAN extension</td>
			  </tr>
		      <tr>
		        <th scope="row">Climate Tagger (Pool)</th>
		        <td title="URL"><a href="http://www.climatetagger.net" target="_blank">http://www.climatetagger.net</a></td>
			    <td title="Description">Climate Tagger is a suite of tools to help knowledge-driven organizations in the climate and development arenas streamline and catalogue their data and information resources, and connect them to the wider climate knowledge community. The tagger can be run on a string or on a file with accepted format.  The content is only added to the Climate Tagger Pool if a specific API call is made.  Thus, although many platforms and services use Climate Tagger, including Climate Search, Climate Tagger Pool doesn't contain all the content submitted for tagging.</td>
		        <td title="Host"><a href="https://www.reeep.org/" target="_blank">REEEP</a></td>
			    <td title="Start Date">2011</td>
			    <td title="Adoption">unknown</td>
			    <td title="Subject Matter Scope">currently focussed on development and energy</td>
			    <td title="User Contribution" class="bg-success">yes</td>
			    <td title="Partner Resource Sharing" class="bg-success">yes, all content is aggregated</td>
			    <td title="Resource Volume" class="bg-danger">small</td>
			    <td title="Resource Types" class="bg-success">diverse</td>
			    <td title="Resource Formats">???</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Resource Licenses">no requirement for tagging; unknown for content upload</td>
			    <td title="Social Features" class="bg-danger">none</td>
			    <td title="Networks" class="bg-danger">none</td>
			    <td title="Multimedia Features" class="bg-danger">none</td>
			    <td title="Has Own Publication">???</td>
			    <td title="Semantic Technology" class="bg-success">yes, tagging, linked data, similarity and recommendation</td>
			    <td title="Language Support" class="bg-success">yes, 5 languages</td>
			    <td title="API" class="bg-success">yes</td>
			    <td title="Open Source" class="bg-danger">no</td>
			    <td title="Extensions" class="bg-success">yes, Drupal module and CKAN extension</td>
			  </tr>
		      <tr>
		        <th scope="row">Climate Tagger (Pool)</th>
		        <td title="URL"><a href="http://www.climateknowledgebrokers.net/ckb-tools/climate-search/" target="_blank">http://www.climateknowledgebrokers.net/ckb-tools/climate-search/</a></td>
			    <td title="Description">The Climate Search was specifically developed to allow a faster way to find the climate-relevant data you are looking for. It catalyzes all portals of the curated Knowledge Navigator database and the Climate Knowledge Brokers Group into one search engine. To make the search for climate relevant information even more convenient, the Climate Search uses Climate Tagger’s Climate Thesaurus to provide auto-complete suggestions, as well as related topics and options to narrow down searches. And it works in the five different languages of the Thesaurus: English, Spanish, French, German and Portuguese.</td>
		        <td title="Host">The Climate Knowledge Brokers (CKB) Group</td>
			    <td title="Start Date">2011</td>
			    <td title="Adoption">unknown</td>
			    <td title="Subject Matter Scope">currently focussed on development and energy</td>
			    <td title="User Contribution" class="bg-success">yes</td>
			    <td title="Partner Resource Sharing" class="bg-success">yes, all content is aggregated</td>
			    <td title="Resource Volume" class="bg-danger">small</td>
			    <td title="Resource Types" class="bg-success">diverse</td>
			    <td title="Resource Formats">???</td>
			    <td title="Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Resource Licenses">no requirement for tagging; unknown for content upload</td>
			    <td title="Social Features" class="bg-danger">none</td>
			    <td title="Networks" class="bg-danger">none</td>
			    <td title="Multimedia Features" class="bg-danger">none</td>
			    <td title="Has Own Publication">???</td>
			    <td title="Semantic Technology" class="bg-success">yes, tagging, linked data, similarity and recommendation</td>
			    <td title="Language Support" class="bg-success">yes, 5 languages</td>
			    <td title="API" class="bg-success">yes</td>
			    <td title="Open Source" class="bg-danger">no</td>
			    <td title="Extensions" class="bg-success">yes, Drupal module and CKAN extension</td>
			  </tr>
  		      <tr>
			    <th scope="row">Start Date</th>
			  </tr>
  		      <tr>
			    <th scope="row">Adoption</th>
			  </tr>
  		      <tr>
			    <th scope="row">Subject Matter Scope</th>
			  </tr>
  		      <tr>
			    <th scope="row">User Contribution</th>
			  </tr>
  		      <tr>
			    <th scope="row">User Contribution</th>
			  </tr>
  		      <tr>
			    <th scope="row">User Contribution</th>
			  </tr>
  		      <tr>
			    <th scope="row">Partner Resource Sharing</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Volume</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Types</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Formats</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Types</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Primary Access Cost</th>
			  </tr>
  		      <tr>
			    <th scope="row">Resource Licenses</th>
			  </tr>
  		      <tr>
			    <th scope="row">Social Features</th>
			  </tr>
  		      <tr>
			    <th scope="row">Networks</th>
			  </tr>
  		      <tr>
			    <th scope="row">Multimedia Features</th>
			  </tr>
  		      <tr>
			    <th scope="row">Has Own Publication</th>
			  </tr>
  		      <tr>
			    <th scope="row">Semantic Technology</th>
			  </tr>
		    </tbody>
	  	  </table>

	  	  </div>
	  	  </td>
	  	  </tr>
	  	  </table>

        </div>
      </div>
    </div>
  </div>
</div>
