<div class='page-details--creme-bg'>
  <div class='container'>
    <div class='row'>
	  <div class="col-12 col-sm-12 col-lg-12">
	    h1
		  | Platform Comparisons	    	
        <div>
          <table style="table-layout: fixed; width: 100%;">
            <tr>
              <td>
              <div style="width: 100%; overflow-x: auto;">
		  <table class="table table-bordered table-hover table-responsive">
		    <thead>
		      <tr>
		        <th scope="col"></th>
		        <th scope="col">URL</th>
		        <th scope="col"><div style="width: 500px">Description</div></th>
		        <th scope="col">Host</th>
		        <th scope="col">Start Date</th>
		        <th scope="col">Subject Matter Scope</th>
		        <th scope="col"><div style="width: 100px">Resource Formats</div></th>
		        <th scope="col"><div style="width: 100px">Resource Licenses</div></th>
		        <th scope="col">Has Own Publication</th>
		        <th scope="col">Adoption</th>
		        <th scope="col">User Contribution</th>
		        <th scope="col">Partner Resource Sharing</th>
		        <th scope="col"><div style="width: 100px">Resource Volume</div></th>
		        <th scope="col">Resource Types</th>
		        <th scope="col">Resource Primary Access Cost</th>
		        <th scope="col"><div style="width: 200px">Social Features</div></th>
		        <th scope="col">Networks</th>
		        <th scope="col">Semantic Technology</th>
		        <th scope="col">Language Support</th>
		        <th scope="col">API</th>
		        <th scope="col">Open Source</th>
		        <th scope="col"><div style="width: 200px">Extensions</div></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <th scope="row">Green Commons</th>
		        <td title="Green Commons: URL"><a href="https://greencommons.net" target="_blank">https://greencommons.net</a></td>
			    <td title="Green Commons: Description">The Green Commons is a knowledge-sharing, learning platform for environmental research and action.</td>
		        <td title="Green Commons: Host"><a href="https://islandpress.org/" target="_blank">Island Press</a></td>
			    <td title="Green Commons: Start Date">TBD</td>
			    <td title="Green Commons: Subject Matter Scope">broad</td>
			    <td title="Green Commons: Resource Formats">PDFs and links (audio, video, images, etc.)</td>
			    <td title="Green Commons: Resource Licenses">a mix of open and restrictive</td>
			    <td title="Green Commons: Has Own Publication">no</td>
			    <td title="Green Commons: Adoption">NA; prototype</td>
			    <td title="Green Commons: User Contribution" class="bg-success">yes</td>
			    <td title="Green Commons: Partner Resource Sharing" class="bg-success">yes</td>
			    <td title="Green Commons: Resource Volume" class="bg-success">large</td>
			    <td title="Green Commons: Resource Types" class="bg-success">diverse</td>
			    <td title="Green Commons: Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Green Commons: Social Features" class="bg-success">yes; forums, annotation, discussion, networks (more to come)</td>
			    <td title="Green Commons: Networks" class="bg-success">yes</td>
			    <td title="Green Commons: Semantic Technology" class="bg-success">yes, via Climate Tagger</td>
			    <td title="Green Commons: Language Support" class="bg-success">yes; initially, only indexing</td>
			    <td title="Green Commons: API" class="bg-success">yes</td>
			    <td title="Green Commons: Open Source" class="bg-success">yes</td>
			    <td title="Green Commons: Extensions" class="bg-success">yes; web apps, chatbots, browser extentions (more to come)</td>
			  </tr>
		      <tr>
		        <th scope="row">Climate Tagger Pool</th>
		        <td title="Climate Tagger Pool: URL"><a href="http://www.climatetagger.net" target="_blank">http://www.climatetagger.net</a></td>
			    <td title="Climate Tagger Pool: Description">Climate Tagger is a suite of tools to help knowledge-driven organizations in the climate and development arenas streamline and catalogue their data and information resources, and connect them to the wider climate knowledge community.</td>
		        <td title="Climate Tagger Pool: Host"><a href="https://www.reeep.org/" target="_blank">REEEP</a></td>
			    <td title="Climate Tagger Pool: Start Date">2011</td>
			    <td title="Climate Tagger Pool: Subject Matter Scope">development and energy</td>
			    <td title="Climate Tagger Pool: Resource Formats">Microsoft Word, Powerpoint, PDF and plain text files</td>
			    <td title="Climate Tagger Pool: Resource Licenses">no requirement for tagging; unknown for content upload</td>
			    <td title="Climate Tagger Pool: Has Own Publication">no</td>
			    <td title="Climate Tagger Pool: Adoption">unknown</td>
			    <td title="Climate Tagger Pool: User Contribution" class="bg-success">yes</td>
			    <td title="Climate Tagger Pool: Partner Resource Sharing" class="bg-success">yes, all content is aggregated</td>
			    <td title="Climate Tagger Pool: Resource Volume" class="bg-danger">small</td>
			    <td title="Climate Tagger Pool: Resource Types" class="bg-success">diverse</td>
			    <td title="Climate Tagger Pool: Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Climate Tagger Pool: Social Features" class="bg-danger">none</td>
			    <td title="Climate Tagger Pool: Networks" class="bg-danger">none</td>
			    <td title="Climate Tagger Pool: Semantic Technology" class="bg-success">yes, tagging, linked data, similarity and recommendation</td>
			    <td title="Climate Tagger Pool: Language Support" class="bg-success">yes, 5 languages</td>
			    <td title="Climate Tagger Pool: API" class="bg-success">yes</td>
			    <td title="Climate Tagger Pool: Open Source" class="bg-danger">no</td>
			    <td title="Climate Tagger Pool: Extensions" class="bg-success">yes, Drupal module and CKAN extension</td>
			  </tr>
		      <tr>
		        <th scope="row">Climate Search</th>
		        <td title="URL"><a href="http://www.climateknowledgebrokers.net/ckb-tools/climate-search/" target="_blank">http://www.climateknowledgebrokers.net/ckb-tools/climate-search/</a></td>
			    <td title="Description">The Climate Search was specifically developed to allow a faster way to find the climate-relevant data you are looking for. It catalyzes all portals of the curated Knowledge Navigator database and the Climate Knowledge Brokers Group into one search engine.</td>
		        <td title="Climate Search: Host">The Climate Knowledge Brokers (CKB) Group</td>
			    <td title="Climate Search: Start Date">2011</td>
			    <td title="Climate Search: Subject Matter Scope">broad</td>
			    <td title="Climate Search: Resource Formats">diverse</td>
			    <td title="Climate Search: Resource Licenses">no requirement for tagging; unknown for content upload</td>
			    <td title="Climate Search: Has Own Publication">no</td>
			    <td title="Climate Search: Adoption">unknown</td>
			    <td title="Climate Search: User Contribution" class="bg-warning">indirectly (can add to any of the child platforms that support contributions)</td>
			    <td title="Climate Search: Partner Resource Sharing" class="bg-success">yes, all content is aggregated</td>
			    <td title="Climate Search: Resource Volume" class="bg-warning">medium; max of 100 items returned for any search</td>
			    <td title="Climate Search: Resource Types" class="bg-success">diverse</td>
			    <td title="Climate Search: Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="Climate Search: Social Features" class="bg-danger">none</td>
			    <td title="Climate Search: Networks" class="bg-danger">none</td>
			    <td title="Climate Search: Semantic Technology" class="bg-success">search term auto-completion using Climate Tagger’s Climate Thesaurus</td>
			    <td title="Climate Search: Language Support" class="bg-success">yes, 5 languages</td>
			    <td title="Climate Search: API" class="bg-danger">no</td>
			    <td title="Climate Search: Open Source" class="bg-danger">no</td>
			    <td title="Climate Search: Extensions" class="bg-success">yes, Wordpress plugin</td>
			  </tr>
		      <tr>
		        <th scope="row">WeADAPT</th>
		        <td title="WeADAPT: URL"><a href="https://www.weadapt.org/" target="_blank">https://www.weadapt.org/</a></td>
			    <td title="WeADAPT: Description">weADAPT is an online ‘open space’ on climate adaptation issues (including the synergies between adaptation and mitigation) which allows practitioners, researchers and policy makers to access credible, high quality information and to share experiences and lessons learnt with the weADAPT community.</td>
		        <td title="WeADAPT: Host">The Oxford Center of the Stockholm Environmental Institute (SEI)</td>
			    <td title="WeADAPT: Start Date">2007</td>
			    <td title="WeADAPT: Subject Matter Scope">adaptation and mitigation</td>
			    <td title="WeADAPT: Resource Formats">diverse (articles, videos, images, etc.)</td>
			    <td title="WeADAPT: Resource Licenses">Creative Commons</td>
			    <td title="WeADAPT: Has Own Publication">no</td>
			    <td title="WeADAPT: Adoption"> > 4k users</td>
			    <td title="WeADAPT: User Contribution" class="bg-success">yes</td>
			    <td title="WeADAPT: Partner Resource Sharing" class="bg-success">yes, with CIFOR, CIP and AfricaAdapt</td>
			    <td title="WeADAPT: Resource Volume" class="bg-danger">small (~1000 curated articles and case studies)</td>
			    <td title="WeADAPT: Resource Types" class="bg-success">diverse</td>
			    <td title="WeADAPT: Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="WeADAPT: Social Features" class="bg-success">yes; discussion forums, people and organization directory search, themes, networks</td>
			    <td title="WeADAPT: Networks" class="bg-success">yes, although few and led by specific organizations or programmes</td>
			    <td title="WeADAPT: Semantic Technology" class="bg-success">Open Calais, Climate Tagger</td>
			    <td title="WeADAPT: Language Support" class="bg-danger">no</td>
			    <td title="WeADAPT: API" class="bg-danger">no</td>
			    <td title="WeADAPT: Open Source" class="bg-danger">no</td>
			    <td title="WeADAPT: Extensions" class="bg-danger">none</td>
			  </tr>
		      <tr>
		        <th scope="row">FutureEarth</th>
		        <td title="FutureEarth: URL"><a href="http://futureearth.org/" target="_blank">http://futureearth.org/</a></td>
			    <td title="FutureEarth: Description">Launched in 2015, Future Earth is a 10-year initiative to advance Global Sustainability Science, build capacity in this rapidly expanding area of research and provide an international research agenda to guide natural and social scientists working around the world.</td>
		        <td title="FutureEarth: Host">The Governing Council of Future Earth</td>
			    <td title="FutureEarth: Start Date">2015</td>
			    <td title="FutureEarth: Subject Matter Scope">broad</td>
			    <td title="FutureEarth: Resource Formats">blog-like articles, linked PDFs, embedded slides and videos; user content: PDFs</td>
			    <td title="FutureEarth: Resource Licenses">unknown</td>
			    <td title="FutureEarth: Has Own Publication">yes, Anthropocene Magazine (digital and print)</td>
			    <td title="FutureEarth: Adoption">4.8k Open Network members</td>
			    <td title="FutureEarth: User Contribution" class="bg-success">yes, to Open Networks</td>
			    <td title="FutureEarth: Partner Resource Sharing" class="bg-">unknown</td>
			    <td title="FutureEarth: Resource Volume" class="bg-danger">tiny number</td>
			    <td title="FutureEarth: Resource Types" class="bg-success">diverse</td>
			    <td title="FutureEarth: Resource Primary Access Cost" class="bg-success">free</td>
			    <td title="FutureEarth: Social Features" class="bg-success">yes, directory search, forums, resource discussions, events, jobs board</td>
			    <td title="FutureEarth: Networks" class="bg-success">yes, Future Earth Open Networks</td>
			    <td title="FutureEarth: Semantic Technology" class="bg-">unknown</td>
			    <td title="FutureEarth: Language Support" class="bg-success">google translate link is on homepage</td>
			    <td title="FutureEarth: API" class="bg-danger">no; does have RSS feeds for magazine and other publications</td>
			    <td title="FutureEarth: Open Source" class="bg-danger">no</td>
			    <td title="FutureEarth: Extensions" class="bg-danger">no</td>
			  </tr>
		    </tbody>
	  	  </table>

	  	  </div>
	  	  </td>
	  	  </tr>
	  	  </table>

        </div>
      </div>
    </div>
  </div>
</div>
= render 'shared/demo_footer'
